
{{> head }}
{{> navbar }}


<div class="container">
    <div class="row">
   
        <div class="col-8">
            <h1>About us</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Pariatur quia at, placeat ad iusto nam, quas aspernatur delectus numquam maxime consectetur id itaque culpa illum soluta ex voluptatum quaerat doloribus.</p>
        </div>

    </div>

    <div class="row">
        <div class="col-4">
            <img src="assets/bootstrap-4.5.2-dist/img/maxresdefault.jpg" class="img-thumbnail">
        </div>
    </div>
</div>


{{> footer}}


  